<ion-header>
  <ion-toolbar>
    <ion-title>Sending data to the server</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngFor="let step of workSteps">
      <ng-template [ngIf]="step.isLoading">
        <ion-item [ngClass]="step.displayClass" lines="none">
          <ion-label slot="start">{{step.loadingText}}</ion-label>
          <ion-spinner slot="end" name="dots"></ion-spinner>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="step.isSucces">
        <ion-item lines="none">
          <ion-label slot="start">{{step.succesText}}</ion-label>
          <ion-icon slot="end" name="checkmark"></ion-icon>
        </ion-item>
      </ng-template>
    </div>
  </ion-list>
</ion-content>