<ion-content>
  <div class="event-schedule-container">
    <div *ngFor="let day of eventsPerDay" class="schedule-day-card">
      <ion-item-divider class="header">
        <ion-label>
          {{day.headerTime}}
        </ion-label>
      </ion-item-divider>
      <div *ngFor="let event of day.eventsInDay" class="event-entry">
        <app-calendar-list-entry [platformEvent]="event.event" [prediction]="event.prediction">
        </app-calendar-list-entry>
      </div>
    </div>
  </div>
</ion-content>