.hour-font {
    font-size: 10px;
    width: 100%;
}

.header-text {
    color: white;
    height: 100%;
    display: inline-block;
}

.cell-class {
    background-color: #002A3A;
    min-height: 40px;
}

.header-class {
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-radius:10px 10px 0px 0px;
    overflow: hidden;
}

.allign {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}

.font-of-heart {
    font-size: 12px;
}

.black {
    color:black;
}