<ion-content padding>
  <div class="container">
    <div class="login-content">
      <ion-item lines="none">
        <ion-label text-center text-wrap>
          You have to login with an Fitbit account before you can continue
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-button class="login-button" (click)="openLoginPage()">
          <ion-label text-center text-wrap>
            Open Fitbit auth page
          </ion-label>
        </ion-button>
      </ion-item>

    </div>
  </div>

</ion-content>