<ion-header>
  <ion-toolbar>
    <ion-title text-center>First Time Setup</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)='checkSetup()' [disabled]='nextButtonDisabled'>
          Next
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-calendar-select [setupData]="setupData"></app-calendar-select>
    <app-email-select [setupData]="setupData"></app-email-select>
    <app-timespan-select [setupData]="setupData"></app-timespan-select>
</ion-content>