.bolded-text {
    font-weight: 500;
}

.sloted-fix-left {
    flex: 1 1 40%;
}

.sloted-fix-right {
    flex: 1 1 100%;
    text-align: right;
}

.submit-button {
    margin: 0 auto;
    font-size: 3vh;
    min-height: 45px;
    max-width: 40vw;
}

.last-element{
    margin-bottom: 5vh;
}