<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="icon-size" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Main page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Stress Detector</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToUserInfo()">
        <ion-icon class="icon-size-menu" name="person"></ion-icon>
        User profile
      </ion-item>
      <ion-item>
        <ion-icon class="icon-size-menu" name="cog"></ion-icon>
        Settings
      </ion-item>
      <ion-item (click)="navigateToAbout()">
        <ion-icon class="icon-size-menu" name="information-circle"></ion-icon>
        About app
      </ion-item>
      <ion-item (click)="navigateToAbout()">
        <ion-icon class="icon-size-menu" name="sync"></ion-icon>
        Sync app
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content padding main>
  <div class="my-tabs">
    <div class="my-tabs-inner">
      <ng-container *ngIf="tab === 'calendar'">
        <app-calendar-list-view></app-calendar-list-view>
      </ng-container>

      <ng-container *ngIf="tab === 'speakers'">
        Your speakers content
      </ng-container>

      <ng-container *ngIf="tab === 'map'">
        Your map content
      </ng-container>
    </div>

    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="show('calendar')">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button (click)="show('speakers')">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="show('map')">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </div>
</ion-content>