<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon class="icon-size" name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Stress Detector
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Stress Detector</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="navigateToUserInfo()">
        <ion-icon class="icon-size-menu" name="person"></ion-icon>
        User profile
      </ion-item>
      <ion-item>
        <ion-icon class="icon-size-menu" name="cog"></ion-icon>
        Settings
      </ion-item>
      <ion-item (click)="navigateToAbout()">
        <ion-icon class="icon-size-menu" name="information-circle"></ion-icon>
        About app
      </ion-item>
      <ion-item (click)="sync()">
        <ion-icon class="icon-size-menu" name="sync"></ion-icon>
        Sync app
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content class="custom-padding" main forceOverscoll="true" scrollY="true">
  <div *ngIf="firstSyncInProgress" class="some-margin">
    <ion-item lines="none">
      <ion-label text-center text-wrap>Please wait while events sync</ion-label>
    </ion-item>
    <ion-item class="spinner-container" lines="none">
      <ion-spinner class="center-item" name="crescent"></ion-spinner>
    </ion-item>
  </div>
  <div class="my-tabs" *ngIf="!firstSyncInProgress">
    <div class="my-tabs-inner">
      <!-- <ng-container *ngIf="tab === 'schedule'"> -->
      <ng-container>
        <app-calendar-list-view [ngClass]="{'hidden': tab !== 'schedule'}"
          [globalCalendarEventsArray]="globalCalendarEventsArray"></app-calendar-list-view>
      </ng-container>

      <!-- <ng-container *ngIf="tab === 'week'"> -->
      <ng-container>
        <app-week-view [ngClass]="{'hidden': tab !== 'week'}" [interfaceEvents]="globalCalendarEventsArray">
        </app-week-view>
      </ng-container>

      <!-- <ng-container *ngIf="tab === 'month'"> -->
      <ng-container>
        <app-month-view [ngClass]="{'hidden': tab !== 'month'}" [interfaceEvents]="globalCalendarEventsArray">
        </app-month-view>
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-tab-bar>
  <ion-tab-button (click)="show('schedule')" class="tab-button" [ngClass]="{'tab-button-selected': tab === 'schedule'}">
    <ion-icon *ngIf="tab === 'schedule'" src="assets/icon/schedule_pe_fundal_verde.svg" size="small"
      class="center-item tab-icon"></ion-icon>
    <ion-icon *ngIf="tab !== 'schedule'" src="assets/icon/schedule_pe_fundal_alb.svg" size="small"
      class="center-item tab-icon"></ion-icon>
    <div>
      <ion-label text-center class="tab-text">Schedule</ion-label>
    </div>
  </ion-tab-button>

  <ion-tab-button (click)="show('week')" class="tab-button" [ngClass]="{'tab-button-selected': tab === 'week'}">
    <ion-icon *ngIf="tab === 'week'" src="assets/icon/week_pe_fundal_verde.svg" size="small"
      class="center-item tab-icon"></ion-icon>
    <ion-icon *ngIf="tab !== 'week'" src="assets/icon/week_pe_fundal_alb.svg" size="small" class="center-item tab-icon">
    </ion-icon>
    <div>
      <ion-label text-center class="tab-text">Week</ion-label>
    </div>
  </ion-tab-button>

  <ion-tab-button (click)="show('month')" class="tab-button" [ngClass]="{'tab-button-selected': tab === 'month'}">
    <ion-icon *ngIf="tab === 'month'" src="assets/icon/month_pe_fundal_verde.svg" size="small"
      class="center-item tab-icon"></ion-icon>
    <ion-icon *ngIf="tab !== 'month'" src="assets/icon/month_pe_fundal_alb.svg" size="small"
      class="center-item tab-icon"></ion-icon>
    <div>
      <ion-label text-center class="tab-text">Month</ion-label>
    </div>
  </ion-tab-button>
</ion-tab-bar>