.user-profile-pic {
    height: 70px;
    width: 70px;
}
.user-name {
    height: 25vh;
    text-align: center;
    display: inline-block;
}
.header {
    width: 100%;
    max-height: 25vh;
}

.attribute-content {
    width: 100%;
}
.attribute-name-header {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}
.attribute-value-header {
    width: 100%;
    display: block;
    font-size: 14px;
    color: #333333;
}
.attribute-name {
    width: 100%;
    display: block;
    font-weight: bold;
}
.attribute-value {
    width: 100%;
    display: block;
    font-size: 14px;
}
.reset-button {
    margin: 0 auto;
    min-width: 40%;
    min-height: 35px;
}