<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="testStorage()">Test Storage Service</ion-button>
  <ion-button (click)="testCalendar()">Test Calendar Service</ion-button>
  <ion-button (click)="testEvents()">Test Events Service</ion-button>
  <!-- This should be the home page
  Values are: {{data.selectedCalendarName}}, {{data.timeInPast}}, {{data.calendarEmail}}
  <ion-button (click)="restartApp()">Reset Data</ion-button> -->
</ion-content>